<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuricfurusho.composeui">

    <application>
        <activity
            android:name=".post.PostListActivity"
            android:exported="false"
            android:label="@string/title_activity_post_list"
            android:theme="@style/Theme.AndroidCodeChallengeMain" />
    </application>

</manifest>